<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"schedule-session-page","layout":{"type":"default"}} -->
<main class="wp-block-group schedule-session-page">
    
    <!-- wp:group {"className":"heading","layout":{"type":"default"}} -->
    <div class="wp-block-group heading">
        <!-- wp:group {"className":"container","layout":{"type":"default"}} -->
        <div class="wp-block-group container">
            <!-- wp:post-title {"level":1} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"container","layout":{"type":"constrained"}} -->
    <div class="wp-block-group container">
        
        <!-- wp:post-content /-->
        
        <!-- wp:group {"className":"loader-img","layout":{"type":"constrained"}} -->
        <div class="wp-block-group loader-img">
            <!-- wp:shortcode -->
            [tyler_loader_image]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"className":"schedule","layout":{"type":"constrained"}} -->
        <div class="wp-block-group schedule">
            
            <!-- wp:shortcode -->
            [tyler_schedule_filter session_type="sessionfour"]
            <!-- /wp:shortcode -->
            
            <!-- wp:html -->
            <div class="sessions list"></div>
            <!-- /wp:html -->
            
        </div>
        <!-- /wp:group -->
        
    </div>
    <!-- /wp:group -->
    
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->